.title p{
    margin: 0;
    font-size: 20px;
    padding: 10px 20px;
    margin-left: 10px;
    display: inline-block;
}

.title h1{
    display: inline-block;
    margin-left: 30%;
}

.bg-custom{
    background-color:#b22222;
}
.navbar-nav > li > a{
    font-size: 20px;
    padding: 10px 20px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #f8f9fa !important;
  }

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
  }

.custom-shadow{
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.custom-gold{
    background-color: #ffd700;
    color: black; 
}

.gold-text{
    color: #ffd700;
}

.home-container{
display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn-width{
    width: 75%;
}
.btn.custom-gold:hover{
    background-color: #ffd700;
    opacity: 1 !important;
    box-shadow: 0 0 10px 2px #b8860b;
}

.htp-container {
    color: #b22222;
}

.htp-container h2, .htp-container h3{
    color:#ffd700;
}
