/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Raleway:wght@900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    background-color:#a6b4ce;
    text-align: center;
}


.container {
    width: 100%;
    height: 350px;
    background: #a6b4ce;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    position: absolute;
    max-width: 450px;
    width: 100%;
    padding : 30px;
    border-radius: 6px;
    background: #a6b4ce;
    margin-bottom: 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

header {
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);

}

.title {
    font-size: 40px;
    font-style: normal;
    text-align: center;
    color: rgb(0, 0, 0);
    border-top: 1px solid #ccc;
}

.field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 6px;
    outline: none;
    font-size: 16px;
    margin-bottom: 20px; 

}

.field input:focus {
    border-color: #eceeff;
    border-bottom-width: 2px;
}
.link {
    text-align: center;
    margin-top: 20px;
    color: rgb(0, 0, 0);
    transition: all 0.3s ease;
    cursor: pointer;
}
@media screen and (max-width: 850px) {
    .title {
        display: none;
    }

    .title2 {
        display: block;
    }
  }