{% extends "dungeonbase.html" %}{% block title %}Dungeon{% endblock %}{% block header %}{% endblock %}

{% block content %}
<link
    rel="stylesheet"
    href="{{ url_for('static', filename='/css/dungeon.css')}}"
/>

<div class="text-light">
    <div id="health-currency">
        <h3>Health: {{health}}</h3>
        <h3>Dice: {{currency }}</h3>
    </div>
    <div id="textbox">
        <p id="log"></p>
    </div>
    <div id="map">
        <table id="map-table"></table>
    </div>
    <div id="explore-buttons">
        <h2>Explore</h2>
        <button onclick="movedungeon(0)">Up</button>
        <button onclick="movedungeon(3)">Left</button>
        <button onclick="movedungeon(1)">Right</button>
        <button onclick="movedungeon(2)">Down</button>
        <button onclick="movedungeon(4)">Exit</button>
    </div>
    <div id="action-buttons">
        <h2 >Action</h2>
        <button id="attack">Attack</button>
        <button id="defend">Defend</button>
        <button id="retreat">Retreat</button>
    </div>
</div>

<script>
    var mapData = {{ map_data|tojson }};
</script>

<script>
    var exploreBtns = document.getElementById('explore-buttons');
    var actionBtns = document.getElementById('action-buttons');
    var state = "explore";
    if ( state === 'explore'){
        exploreBtns.style.display = 'block';
        actionBtns.style.display = 'none';
    } else if ( state === 'battle'){
        exploreBtns.style.display = 'none';
        actionBtns.style.display = 'block';
    }
</script>
<script src="{{ url_for('static', filename='/js/dungeon.js') }}"></script>
{% endblock %}