<!-- Home page -->
{% extends "homebase.html" %} {% block title %}Home{% endblock %} {% block header %} {% endblock %}

{% block content %}

<div class="home-container text-center">
    <video autoplay muted onended="this.pause();" preload="auto" class="mb-4 mt-4">
        <source src="{{ url_for('static', filename='images/Heroes_Never_Dice_1.mp4') }}" type="video/mp4">
        <img src="{{ url_for('static', filename='images/Logo.png')}}" alt="Fallback Image">
      </video>
    <form action="{{url_for('display_dungeon')}}" method="get" class="w-100">
        <button type="submit" class="btn custom-gold btn-lg btn-width mb-3 mt-4" onclick="gendungeon()" >PLAY</button>
    </form>
    <script>
        function gendungeon()
        {
            var http = new XMLHttpRequest();
            http.open("POST", "/dungeon");
            http.setRequestHeader("Content-Type", "application/json");
            http.onload = function() {
                if (this.status == 200){
                    $("#dungeonview").text(this.responseText);
                }
            };
            http.send();
        }
    </script>
</div>

{% endblock %}