<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='/css/base.css')}}"
  />

  <title>{% block title %}{% endblock %}</title>
</head>

<body style="background-color: #1c1c1c;">
  <header>
    <div class="title gold-text" >
      <p> Welcome {user} </p> 
      <h1> Heroes Never Dice</h1>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-custom text-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav w-100">
            <li class="nav-item flex-fill">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item flex-fill">
              <a class="nav-link" href="/market">Market</a>
            </li>
            <li class="nav-item flex-fill">
              <a class="nav-link" href="/vault">Vault</a>
            </li>
            <li class="nav-item flex-fill">
              <a class="nav-link" href="/howtoplay">How To Play</a>
            </li>
            <li class="nav-item flex-fill">
              <a class="nav-link" href="/account">Account</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <div class="container mt-3 bg-dark custom-shadow">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha384-/4tKkGi9fYjz+cSl9A/CaSJ9C9uGK2/FfyG89m1gPhxrS/JSIhG/kfQ5oqm7LvTn"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"
    integrity="sha512-OqV7hT0WfPxvTJrG9q3INj8zZ2sAahCwzRJw+0UnLg/TiJtevL+IdX2SLntmqyMAOgGz6UJH6PlpppLnUOy8NQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
    integrity="sha384-VZz2k/jCvRogzR+OLn0aI2QjD7VKKJNRXa94yoVx8I0aP7tLv4J4q0kV50phWcSP"
    crossorigin="anonymous"></script>
</body>

</html>