<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!-- CSS -->
    <link
     rel="stylesheet" 
     href="{{ url_for('static', filename = '/css/loginreg.css') }}">

<body>
    <!-- Logo -->
    <img src="{{ url_for('static', filename='images/logo.png') }}" class="hero-img" alt="logo" >
    <section class="container">

        <div id="form-content">
            <form action="/login" method="post">
                <header> LOGIN </header>
                <form>
                    <div class="field input">
                        <label for="username">Username </label>
                        <input type="text" placeholder="Username" name="username" value="{{ request.form.username}}"
                            required>
                        <br>
                    </div>
                    <div class="field input">
                        <label for="password">Password </label>
                        <input type="password" placeholder="Password" name="password" value="{{ request.form.password}}"
                            required>
                        <br>
                    </div>
                </form>
                <div class="field button">
                    <input id="login" type="submit" value="Login" class="gold-button" style="color: black !important;"/>
                </div>
            </form>
            <div class="link"> Don't have an account? <a href="/register">Register</a></div>
        </div>

    </section>
</body>

</html>