{% extends "homebase.html" %} {% block title %} {% endblock %} {% block header %} {% endblock %}

{% block content %} 


<div id="market-container">
    <h1>Market</h1>

    <input id="buyd4" placeholder="d4">
    <input id="buyd6" placeholder="d6">
    <input id="buyd8" placeholder="d8">
    <input id="buyd10" placeholder="d10">
    <input id="buyd12" placeholder="d12">
    <input id="buyd20" placeholder="d20">

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">Seller</th>
                <th scope="col">Item</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody class = "text-light">
            {% for item in market %} 
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td><button type="button" class="btn btn-primary" onclick="buyItem({{item[3]}})">Buy</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
