{% extends "homebase.html" %} {% block title %} {% endblock %} {% block header %} {% endblock %}

{% block content %} 


<div id="market-container">
    <h1>Market</h1>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#sellModal">
        Sell Item
    </button>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in market %} 
            <tr>
                <td>{{item}}</td>
                
                <td><button type="button" class="btn btn-primary">Buy</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

<!-- Sell modal -->
<div class="modal fade" id="sellModal" tabindex="-1" aria-labelledby="sellModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sellModalLabel">Sell Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="itemName" class="col-form-label">Item:</label>
                        <select class="form-select" id="itemName">
                            {% for item in inventory %}
                            <option value="{{ item }}">{{ item }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="col-form-label">Price:</label>
                        <input type="text" class="form-control" id="price">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick = "sellItem()" >Sell Item</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}
