<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <form action="/register" method="post">
        <label for="username">Username: </label>
        <input type="text" placeholder="username" name="username" value="{{request.form.username}}" required>
    <br>
        <label for="password">Password: </label>
        <input type="password" placeholder="password" name="password" value="{{request.form.password}}" required>
    <br>
        <label>
            <button type="submit">Register</button>
        </label>
    </form>
    <a href="/login">Login</a>
</body>
</html>