<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script>
        function testgen()
        {
            var http = new XMLHttpRequest();
            http.open("GET", "/testgenitem");
            http.setRequestHeader("Content-Type", "application/json");
            http.onload = function() {
                if (this.status == 200){
                    $("#testgen").text(this.responseText);
                }
            };
            http.send();
        }
        
        function getdungeon()
        {
            var http = new XMLHttpRequest();
            http.open("GET", "/dungeon");
            http.setRequestHeader("Content-Type", "application/json");
            http.onload = function() {
                if (this.status == 200){
                    $("#dungeonview").text(this.responseText);
                }
            };
            http.send();
        }
        
        function gendungeon()
        {
            var http = new XMLHttpRequest();
            http.open("POST", "/dungeon");
            http.setRequestHeader("Content-Type", "application/json");
            http.onload = function() {
                if (this.status == 200){
                    $("#dungeonview").text(this.responseText);
                }
            };
            http.send();
        }
        
        function movedungeon(direction)
        {
            var http = new XMLHttpRequest();
            http.open("PUT", "/dungeon/move");
            http.setRequestHeader("Content-Type", "application/json");
            http.onload = function() {
                if (this.status == 200){
                    $("#log").append(this.responseText + "\n");
                }
            };
            http.send(direction);
        }
    </script>
</head>

<body>
    <a href="/logout">Logout</a>
    <br>
    <button id="testgen" onclick="testgen();" style="white-space: pre-wrap;">Generate New Item in Inventory</button>
    <br><br>
    <p style="white-space: pre-wrap;" id="dungeonview"></p>
    <br><br>
    <button onclick="getdungeon()">Refresh Dungeon</button>
    <br>
    <button onclick="gendungeon()">Generate Dungeon</button>
    <br>
    <button onclick="movedungeon(0)">UP</button>
    <br>
    <button onclick="movedungeon(3)">LEFT</button>
    <button onclick="movedungeon(1)">RIGHT</button>
    <br>
    <button onclick="movedungeon(2)">DOWN</button>
    <br><br>
    <p style="white-space: pre-wrap;" id="log"></p>
</body>
</html>