{% extends "homebase.html" %} {% block title %}Vault{% endblock %} {% block header %} {% endblock %}

{% block content %}


<div id="vault-container">
    <h2> Vault </h2>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in inventory %} 
            <tr>
                <td>{{ item }}</td>
                <td><button type="button" class="btn btn-primary unequip-btn" onclick="equipItem('{{ item }}')">Equip</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2> Equipped Items </h2>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in equipped %} 
            <tr>
                <td>{{ item }}</td>
                <td><button type="button" class="btn btn-primary equip-btn" onclick="unequipItem('{{ item }}')">Unequip</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}