{% extends "homebase.html" %} {% block title %}Vault{% endblock %} {% block header %} {% endblock %}

{% block content %}


<div id="vault-container">
    <h2> Vault </h2>

    <input id="sellPrice" placeholder="Price in d4s">
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in vault %}
            <tr>
                <td>    <span class = "description" data-toggle="tooltip" data-placement="right" title="{{ item[2] }}">{{ item[1] }} </span>
                        <td><button type="button" class="btn btn-primary equip-btn"
                            onclick="sellItem({{ item[0] }})">Sell</button></td>
                    </td>
                    <td><button type="button" class="btn btn-primary equip-btn"
                        onclick="moveToInv({{ item[0] }})">Move</button></td>
                    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 

    <h2> Inventory </h2>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for item in inv %}
            <tr>
                <td><span class = "description" data-toggle="tooltip" data-placement="right" title="{{ item[2] }}">{{ item[1] }} </span>
                    <td>
                        <button type="button" class="btn btn-primary equip-btn"
                            onclick="equipItem({{ item[0] }})">Equip</button></td>
                    </td>
                    <td><button type="button" class="btn btn-primary equip-btn"
                        onclick="moveToVault({{ item[0] }})">Move</button></td>
                    </td>
            </tr>
            {% endfor %}
        </tbody>
    </table> 

    <h2> Equipped Items </h2>
    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">Item</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>    <span class = "description" data-toggle="tooltip" data-placement="right" title="{{ mainhand[2] }}">Main Hand: {{ mainhand[1] }} </span>
                        <td><button type="button" class="btn btn-primary equip-btn"
                            onclick="unequipItem({{ mainhand[0] }})">Unequip</button></td>
                </td>
            </tr>
            <tr>
                <td>    <span class = "description" data-toggle="tooltip" data-placement="right" title="{{ offhand[2] }}">Off-Hand: {{ offhand[1] }} </span>
                        <td><button type="button" class="btn btn-primary equip-btn"
                            onclick="unequipItem({{ offhand[0] }})">Unequip</button></td>
                </td>
            </tr>
            <tr>
                <td>    <span class = "description" data-toggle="tooltip" data-placement="right" title="{{ armor[2] }}">Armor: {{ armor[1] }} </span>
                        <td><button type="button" class="btn btn-primary equip-btn"
                            onclick="unequipItem({{ armor[0] }})">Unequip</button></td>
                </td>
            </tr>
        </tbody>
    </table> 

</div>
{% endblock %}