{% extends "homebase.html" %} {% block title %} {% endblock %} {% block header %} {% endblock %}

{% block content %}


<div id = "vault-container" 
    <h1> Vault </h1>
    <h2> Inventory </h2>
    <ul id = "inventory-list"> 
        {% for item in inventory %}
            <li> {{ item }} </li>
        {% endfor %}
    </ul>
    <h2> Dice </h2>
    <p id = "dice-count"> {{ dice_count }} </p>

    <h2> Equipped Items </h2>
    <ul id = "equipped-list"> 
        {% for item in equipped %}
            <li> {{ item }} </li>
        {% endfor %}
    </ul>

    <h2> Add/Remove Items </h2>
    <form action="/vault" method="post">
        <label for="item">Item:</label>
        <input type="text" id="item" name="item"><br><br>
        <label for="action">Action:</label>
        <select id="action" name="action">
            <option value="add">Add</option>
            <option value="remove">Remove</option>
        </select><br><br>
        <input type="submit" value="Submit">
    </form>

{% endblock %}